<ActionBar title="Peliculas"></ActionBar>
<ScrollView orientation="vertical">

    <FlexboxLayout flexDirection="column" tkExampleTitle tkToggleNavButton>
        <ns-radlistpeliculas [hg]="400" [movies]="moviesNowPlaying?.results"></ns-radlistpeliculas>
        <ns-radlistpeliculas tl="populares" [movies]="moviesPopular?.results"></ns-radlistpeliculas>
        <ns-radlistpeliculas tl="Mejor Valoradas" [movies]="moviesTopRated?.results"></ns-radlistpeliculas>
        <ns-radlistpeliculas tl="Proximamente" [movies]="moviesUpcoming?.results"></ns-radlistpeliculas>
    </FlexboxLayout>
</ScrollView>
